# Ignore all
/*

# Except themes
!/themes/
/themes/*
!/themes/.htaccess
#!/themes/name


# Except my and third-party modules
!/modules/
/modules/*
!/modules/.htaccess
#!/modules/name/

# Except override folder
!/override/
/override/*
!/override/.htaccess

# Except some other files
!README.md
!LICENCE.md
!/bash/
!composer.json
!composer.lock
!.gitignore
!robots.txt

